
on:
  push:
    branches:
      - master

jobs:
  deploy:
    uses: firok-arc-project/arc-site/.github/workflows/auto-deploy-site.yml@master
    secrets:
      cloudflare_api_token: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      cloudflare_account_id: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
