
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # 开始准备部署相关的环境
      # 获取 arc-site 源码, 配置环境
      - name: Fetch and setup arc-site
        run: |
          cd deploy-workspace
          git clone https://github.com/firok-arc-project/arc-site.git
          cd arc-site
          npm install --no-audit --no-fund

      # 构建 arc-material 数据
      - name: Build arc-material
        run: |
          cd deploy-workspace/arc-site
          node node_modules/@firok-arc-project/arc-centrifuge/dist/index.js ../../docs/meta-config.json5

      # 复制构建后的 arc-material 数据
      - name: Copy arc-material
        run: |
          cd deploy-workspace/arc-site
          cp -r ../../docs/dist/* public/docs

      # 开始构建
      - name: Build arc-site
        run: |
          cd deploy-workspace/arc-site
          npm run build

      - name: Deploy arc-site
        uses: cloudflare/wrangler-action@v3
        with:
          workingDirectory: deploy-workspace/arc-site
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: "4.54.0"
          command: deploy
